.container, .column {
  display: grid;
  grid-gap: 90px;
  &--center {
    justify-content: center;
  }
}


.column {
  grid-gap: 20px;
  .button {
    margin: 10px auto 0 0;
  }
}

.container {
  padding: 150px 0 20px 0;
  @media screen and (max-width: 1200px) {
    padding: 150px 0 20px 0;
  }

  @media screen and (max-width: 414px) {
    padding: 50px 0 20px 0;
  }
}

.lib-padding {
  padding: 15px;
}
