body {

  --light: #FAFAFA;
  --mid: #ECEFF1;
  --dark: #263238;
  --accent: #2962FF;

  @media (prefers-color-scheme: dark) {
    --light: #263238;
    --mid: #4F5B62;
    --dark: #FAFAFA;
    --accent: #448AFF;
  }
}

