<div class="container container--center">
  <article class="column">
    <h1>404: Page not found</h1>
    <p>  Sorry, I can't seem to find that page. </p>
    <a 
      routerLink="/home"
      class="button"
    >Let's Go Home</a>
  </article>




  <div class="footer">
    <h2>Connect with me</h2>

    <ul class="socials">
      <li class="socials__item">
        <a class="button button--tertiary" target="_blank" href="https://www.instagram.com/mikaelgrr/">Instagram</a>
      </li>
      <li class="socials__item">
        <a class="button button--tertiary" target="_blank" href="https://twitter.com/mikaelgrr">Twitter</a>
      </li>
      <li class="socials__item">
        <a class="button button--tertiary" target="_blank" href="https://www.linkedin.com/in/mikamove/">LinkedIn</a>
      </li>
      <li class="socials__item">
        <a class="button button--tertiary" target="_blank" href="https://github.com/MikaGurrola">Github</a>
      </li>
      <li class="socials__item">
        <a class="button button--tertiary" target="_blank" href="https://codepen.io/MikaGurrola/">CodePen</a>
      </li>
    </ul>

  </div>
  
</div>