html {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  --main-font: Helvetica, Arial, sans-serif;
}


p {
  font-size: 18px;
  line-height: 28px;
}

