<div class="top-container">

  <div class="nav-container" [ngClass]="{'scrolled': scrolled}">
    <nav class="nav">
      <a 
        routerLink="/home" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: true}"
        class="button"
      >Home</a>
      <a 
        routerLink="/projects" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: true}"
        class="button"
      >Portfolio</a>
      <!-- <a 
        routerLink="/asdf" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: true}"
        class="button"
      >404</a> -->



      <div class="theme">
        <button class="button toggle" (click)="toggleTheme()" >
          <ng-container *ngIf="this.darkTheme; else other">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path
                d="M18 9.52V6h-3.52L12 3.52 9.52 6H6v3.52L3.52 12 6 14.48V18h3.52L12 20.48 14.48 18H18v-3.52L20.48 12 18 9.52zm-6 7.98c-3.03 0-5.5-2.47-5.5-5.5S8.97 6.5 12 6.5s5.5 2.47 5.5 5.5-2.47 5.5-5.5 5.5z"
                opacity=".3" />
              <path
                d="M20 8.69V4h-4.69L12 .69 8.69 4H4v4.69L.69 12 4 15.31V20h4.69L12 23.31 15.31 20H20v-4.69L23.31 12 20 8.69zm-2 5.79V18h-3.52L12 20.48 9.52 18H6v-3.52L3.52 12 6 9.52V6h3.52L12 3.52 14.48 6H18v3.52L20.48 12 18 14.48zM12 6.5c-3.03 0-5.5 2.47-5.5 5.5s2.47 5.5 5.5 5.5 5.5-2.47 5.5-5.5-2.47-5.5-5.5-5.5zm0 9c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z" />
            </svg>
          </ng-container>

          <ng-template #other>
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path
                d="M18 12c0-4.41-3.59-8-8-8-.34 0-.68.02-1.01.07C10.9 6.23 12 9.05 12 12c0 2.95-1.1 5.77-3.01 7.93.33.05.67.07 1.01.07 4.41 0 8-3.59 8-8z"
                opacity=".3" />
              <path
                d="M5 20.65C6.47 21.5 8.18 22 10 22c5.52 0 10-4.48 10-10S15.52 2 10 2c-1.82 0-3.53.5-5 1.35C7.99 5.08 10 8.3 10 12s-2.01 6.92-5 8.65zM12 12c0-2.95-1.1-5.77-3.01-7.93C9.32 4.02 9.66 4 10 4c4.41 0 8 3.59 8 8s-3.59 8-8 8c-.34 0-.68-.02-1.01-.07C10.9 17.77 12 14.95 12 12z" />
            </svg>
          </ng-template>
        </button>
      </div>

    </nav>
  </div>
  
  <div class="router-container" [@routerTransition]="getState(o)">
    <router-outlet #o="outlet"></router-outlet>
  </div>
  
  <div class="footer">
    <h2>CONNECT WITH ME</h2>

    <ul class="socials">
      <li class="socials__item">
        <a class="button button--tertiary" target="_blank" rel="noopener noreferrer"
          href="https://www.linkedin.com/in/mikamove/">LinkedIn</a>
      </li>
      <li class="socials__item">
        <a class="button button--tertiary" target="_blank" rel="noopener noreferrer"
          href="https://github.com/MikaGurrola">Github</a>
      </li>
      <li class="socials__item">
        <a class="button button--tertiary" target="_blank" rel="noopener noreferrer"
          href="https://codepen.io/MikaGurrola/">CodePen</a>
      </li>
    </ul>

  </div>

</div>
