<div class="container container--center">

  <div class="header content-container">
    <h1 class="jumbo">Mika</h1>
    <h3>Front Ender</h3>
    <p>A web developer with a slight obsession with technology, I like to experiment with how users interface with the web. HTML, CSS & JS are my jam.</p>
  </div>


  <div class="content-container">
    <h2>TLDR;</h2>
    <p>My experience includes creative agency work where I have developed custom WordPress themes for marketing sites that span various industries of clients from tourism, realtors and IT services.</p>
    <a routerLink="/projects" class="button">View Portfolio</a>
  </div>

</div>
