<div class="container container--center">

  <div class="project">
    <div>
      <h2>Agency Work</h2>
    </div>
  </div>

  <div class="project">
    <div class="project__header">
      <h2>Space Coast Culture</h2>
      <h4>WordPress</h4>
    </div>
    <img class="project__image" src="../../../assets/images/sites/spacecoast.jpg" alt="A screenshot of Space Coast Culture site">
    <div class="project__footer">
      <p>This website highlights the artists and entrepreneurs of Florida's SpaceCoast that showcase their unique scene.</p>
      <a href="https://spacecoastculture.com" class="button button--tertiary arrow" target="_blank" rel="noopener noreferrer">Visit Site</a>
    </div>
  </div>


  <div class="project">
    <div class="project__header">
      <h2>Tech Helpline</h2>
      <h4>WordPress</h4>
    </div>
    <img class="project__image" src="../../../assets/images/sites/tech.jpg" alt="A screenshot of Techhelpline site">
    <div class="project__footer">
      <p>A service to assist users of all experience levels navigate the world of tech.</p>
      <a href="https://www.techhelpline.com" class="button button--tertiary arrow" target="_blank" rel="noopener noreferrer">Visit Site</a>
    </div>
  </div>


  <div class="project">
    <div class="project__header">
      <h2>BEX Realty</h2>
      <h4>WordPress</h4>
    </div>
    <img class="project__image" src="../../../assets/images/sites/bex.jpg" alt="A screenshot of BEX Realty site">
    <div class="project__footer">
      <p>Realtors can list their hotest properties for buyers to interact with their listings.</p>
      <a href="https://www.bexrealty.com" class="button button--tertiary arrow" target="_blank" rel="noopener noreferrer">Visit Site</a>
    </div>
  </div>



  <div class="project">
    <div>
      <h2>Side Projects</h2>
    </div>
  </div>



  <div class="project">
    <div class="project__header">
      <h2>Picture Palette</h2>
      <h4>Angular 4 • VibrantJS • Unsplash API</h4>
    </div>
    <img class="project__image" src="../../../assets/images/sites/ppp.jpg" alt="A screenshot of Angular side project">
    <div class="project__footer">
      <p>My first side project built with Angular 4, played around with router transitions, lazy loading routes, virbrantJS and the Unslpash API.</p>
      <div class="buttons">
        <a href="https://mikagurrola.github.io/picture-perfect-palette/home" class="button button--tertiary arrow" target="_blank" rel="noopener noreferrer">View Project</a>
        <a href="https://github.com/MikaGurrola/picture-perfect-palette" class="button button--tertiary arrow" target="_blank" rel="noopener noreferrer">View Repo</a>
      </div>
    </div>
  </div>
</div>