<div class="container container--center">


  <div class="title-container">
    <h1 class="title">Agency Work</h1>
  </div>
  <div class="project">
    <div class="project__header">
      <h3>Space Coast Culture</h3>
      <h4>WordPress</h4>
    </div>
    <picture class="project__image">
      <source media="(max-width: 415px)" srcset="/assets/images/sites/spacecoast-mobile.jpg">
      <source media="(max-width: 768px)" srcset="/assets/images/sites/spacecoast-small.jpg">
      <source media="(min-width: 601px)" srcset="/assets/images/sites/spacecoast.jpg">
      <img src="/assets/images/sites/spacecoast.jpg" alt="A screenshot of Space Coast Culture site">
    </picture>
    <div class="project__footer">
      <p>This website highlights the artists and entrepreneurs of Florida's SpaceCoast that showcase their unique scene.</p>
      <a href="https://spacecoastculture.com" class="button button--tertiary arrow" target="_blank" rel="noopener noreferrer">Visit Site</a>
    </div>
  </div>


  <div class="project">
    <div class="project__header">
      <h3>Tech Helpline</h3>
      <h4>WordPress</h4>
    </div>
    <picture class="project__image">
      <source media="(max-width: 415px)" srcset="/assets/images/sites/tech-mobile.jpg">
      <source media="(max-width: 768px)" srcset="/assets/images/sites/tech-small.jpg">
      <source media="(min-width: 601px)" srcset="/assets/images/sites/tech.jpg">
      <img src="/assets/images/sites/tech.jpg" alt="A screenshot of Techhelpline site">
    </picture>
    <div class="project__footer">
      <p>A service to assist users of all experience levels navigate the world of tech.</p>
      <a href="https://www.techhelpline.com" class="button button--tertiary arrow" target="_blank" rel="noopener noreferrer">Visit Site</a>
    </div>
  </div>


  <div class="project">
    <div class="project__header">
      <h3>BEX Realty</h3>
      <h4>WordPress</h4>
    </div>
    <picture class="project__image">
      <source media="(max-width: 415px)" srcset="/assets/images/sites/bex-mobile.jpg">
      <source media="(max-width: 768px)" srcset="/assets/images/sites/bex-small.jpg">
      <source media="(min-width: 601px)" srcset="/assets/images/sites/bex.jpg">
      <img src="/assets/images/sites/bex.jpg" alt="A screenshot of BEX Realty site">
    </picture>
    <div class="project__footer">
      <p>Realtors can list their hotest properties for buyers to interact with their listings.</p>
      <a href="https://www.bexrealty.com" class="button button--tertiary arrow" target="_blank" rel="noopener noreferrer">Visit Site</a>
    </div>
  </div>


  <div class="title-container">
    <h2 class="title">Side Projects</h2>
  </div>

  <div class="project">
    <div class="project__header">
      <h3>Picture Palette</h3>
      <h4>Angular 9 • VibrantJS • Unsplash API</h4>
    </div>
    <picture class="project__image">
      <source media="(max-width: 415px)" srcset="/assets/images/sites/pp-mobile.jpg">
      <source media="(max-width: 768px)" srcset="/assets/images/sites/pp-small.jpg">
      <source media="(min-width: 601px)" srcset="/assets/images/sites/pp.jpg">
      <img src="/assets/images/sites/pp.jpg" alt="A screenshot of Angular side project">
    </picture>
    <div class="project__footer">
      <p>Let's play with VibrantJS and the Unslpash API.</p>
      <div class="buttons">
        <a href="https://mikagurrola.github.io/picture-palette/home" class="button button--tertiary arrow" target="_blank" rel="noopener noreferrer">View Project</a>
        <a href="https://github.com/MikaGurrola/picture-palette" class="button button--tertiary arrow" target="_blank" rel="noopener noreferrer">View Repo</a>
      </div>
    </div>
  </div>

</div>